html {
    font-family: 'Press Start 2P', cursive;
}

body {
    margin: 0;
    padding: 0;
}

input {
    font-family: 'Press Start 2P', cursive;
    height: 30px;
    background: transparent;
    border-style: none;
}

ul {
    list-style: none;
}

h1 {
    width: 100%;
    font-size: 64px;
    text-align: center;
}

#home ul input {
    width: 50vw;
}

#home li {
    padding: 5px;
    text-align: center;
}

#home input:hover {
    text-decoration: underline;
}

.full-screen {
    height: 91vh;
    padding: 15px;
    margin: auto;
}

.invisible {
    display: none;
}

.visible {
    display: block;
}