html {
    font-family: 'Press Start 2P', cursive;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
}

input {
    font-family: 'Press Start 2P', cursive;
    height: 30px;
    background: transparent;
    border-style: none;
}

ul {
    list-style: none;
}

h1 {
    width: 100%;
    font-size: 64px;
    text-align: center;
}

/* HOME IDs */
#home {
    display: grid;
    height: 100%;
    grid-template-columns: auto;
    text-align: center;
}

#home ul input {
    width: 50vw;
}

#home li {
    padding: 5px;
    text-align: center;
}

#home input:hover {
    text-decoration: underline;
}

/* GAME IDs */
#game {
    display: grid;
    height: 100%;
    grid-template-columns: 90% 10%;
    padding: 0;
}

#level {
    height: 100%;
    background-color: red;
}

#right-bar {
    height: 100%;
    background-color: cornflowerblue;
}

#hero-screen {
    width: 80%;
    height: 80%;
    border: 1px solid black;
    background-color: plum;
    padding: 5px;
}

#hero-screen {
    margin: auto;
}

#hero-top-bar {
    text-align: center;
    border-bottom: 1px solid black;
}

/* CLASSES */
.full-screen {
    padding: 15px;
    margin: auto;
}

.invisible {
    display: none !important;
}

.visible {
    display: block;
}

.bar-button {
    width: 100%;
    height: 15%;
    background-color: azure;
}