html {
    font-family: 'Press Start 2P', cursive;
    height: 100vh;
    width: 100vw;
    background: url(../img/main/background.png);
}

body {
    margin: 0;
    padding: 0;
}

input {
    font-family: 'Press Start 2P', cursive;
    height: 30px;
    background: transparent;
    border-style: none;
}

ul {
    list-style: none;
    padding: 0;
}

h1 {
    width: 100%;
    font-size: 64px;
    text-align: center;
}

h3 {
    text-decoration: underline;
}

/* HOME IDs */
#title {
    content: url(../img/main/title.png);
}

#wrapper {
    min-width: 568px;
    min-height: 320px;
    max-width: 823px;
    max-height: 411px;
    margin: 0 auto;
}

#home {
    display: grid;
    text-align: center;
    color: white;
    height: 100%;
}

#home div {
    margin: auto;
}

#home ul input {
    width: 50vw;
    color: white;
}

#home li, #highscore li {
    height: 48px;
    vertical-align: middle;
    line-height: 42px;
    margin: 5px 0 5px 0;
    background: url(../img/main/button.png) no-repeat center;
}

/* ########## GRID DEFINITION ########## */
#game {
    display: grid;
    height: 100%;
    grid-template-areas:
            "upper-bar upper-bar"
            "play-field side-bar";

    grid-template-columns: auto 64px;
    grid-template-rows: 64px auto;
    padding: 0;
}

#upper-bar {
    grid-area: upper-bar;
    justify-items: center;
    background-image: url(../img/main/topBarBack.png);
}

#dungeon {
    grid-area: play-field;
    overflow: scroll;
    background: black;
}

#side-bar {
    grid-area: side-bar;
    display: grid;
    background-image: url(../img/main/sideBarBack.png);
    grid-template-rows: repeat(3, 64px);
}

#side-bar input {
    width: 64px;
    height: 64px;
    background-image: url(../img/icon/side-bar-frame.png);
}

#tiles {
    zoom: 150%;
    display: grid;
    grid-template-columns: repeat(32, 32px);
    grid-template-rows: repeat(32, 32px);
    z-index: 5;
    max-width: 100%;
    text-align: center;
}

/* ########## PLAYER HEALTH ########## */
#health-container {
    display: grid;
    align-content: center;
    padding-left: 5px;
    height: 64px;
    color: whitesmoke;
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 15px 17px 20px;
    grid-template-areas:
            "l-title l-value empty-space"
            "health-bar health-bar health-bar"
            "ep-bar ep-bar ep-bar";
}

#health-container #level-key {
    grid-area: l-title;
    text-align: left;
}

#health-container #level-value {
    grid-area: l-value;
    text-align: center;
}

#health-container #health-bar-outer,
#health-container #ep-bar-outer {
    color: white;
    font-size: 10px;
    background-color: dimgray;
    padding: 3px;
    text-align: right;
    line-height: 14px;
}

#health-container #health-bar-inner,
#health-container #ep-bar-inner {
    height: 14px;
}

#health-container #health-bar-inner {
    background-color: indianred;
}

#health-container #health-bar-outer span,
#health-container #ep-bar-outer span {
    position: absolute;
    left: 10px;
}

#health-container #ep-bar-inner {
    background-color: cornflowerblue;
}

#health-container #health-bar-outer {
    grid-area: health-bar;
}

#health-container #ep-bar-outer {
    grid-area: ep-bar;
}

#player-health-text {
    grid-area: health-bar;
    text-align: right;
}

#player-ep-text {
    grid-area: ep-bar;
}

#player-health {
    font-size: small;
    padding: 2px;
    width: 30%;
    height: 16px;
    text-align: center;
    color: white;
    z-index: 25;
    background: black;
}

/* ########## OVERLAYS ########## */
#debug-screen,
#hero-screen,
#fighting-screen {
    right: 64px;
    height: 100%;
    grid-area: play-field;
    overflow: scroll;
}

/* ########## DEBUG-SCREEN ########## */
#debug-screen {
    display: grid;
    grid-template-rows: repeat(4, 32px);
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 5px;
    grid-template-areas:
            "debug-title debug-title";

    background-color: plum;
    position: fixed;
    width: auto;
    padding: 5px;

}

#debug-screen-title {
    grid-area: debug-title;
    text-align: center;
}

/* ########## HERO-SCREEN ########## */
#hero-screen {
    display: grid;
    grid-template-rows: 32px auto auto;
    grid-template-columns: repeat(1, auto);
    grid-column-gap: 10px;
    grid-template-areas:
            "hero-title"
            "stats"
            "items";

    font-size: 12px;
    background-color: plum;
    position: absolute;
    height: calc(100vh - 74px);
    max-height: 100%;
    width: auto;
    padding: 5px;
    grid-area: play-field;
    overflow: scroll;
}

#hero-screen-title {
    grid-area: hero-title;
    text-align: center;
}

#hero-screen-item-stats {
    grid-area: stats;
    font-size: 11px;
    display: grid;
    grid-template-rows: repeat(6, 32px);
    grid-template-columns: auto;
    grid-row-gap: 5px;
}

#hero-screen-selected-item {
    display: grid;
    font-size: 8px;
    color: whitesmoke;
    text-align: left;
    vertical-align: middle;
    grid-template-columns: repeat(1, 202px);
    grid-template-rows: repeat(5, 32px);
    grid-template-areas:
            "item-name"
            "item-quality";
            "item-value";

    opacity: 1;
    background: black;
    grid-area: 1 / gloves / boots / 4;
    z-index: 10;
}

#hero-screen-selected-item-value,
#hero-screen-selected-item-mods,
#hero-screen-selected-item-mods-title {
    height: 16px;
    line-height: 16px;
    padding: 0 15px 0 15px;
}

#hero-screen-selected-item-mods-title {
    text-align: center;
}

#hero-screen-selected-item-quality {
    grid-area: item-quality;
    height: 16px;
    line-height: 16px;
    padding: 0 15px 0 15px;
}

#hero-screen-selected-item-name {
    grid-area: item-name;
    background: grey;
    margin: auto;
    width: calc(100% - 15px);
    height: 32px;
    line-height: 32px;
    padding: 0 0 0 15px;
}

#hero-screen-hero {
    grid-area: hero;
    display: grid;
    text-align: center;
    grid-template-rows: repeat(5, 64px);
    grid-template-columns: repeat(3, 64px);
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    grid-template-areas:
            "emptys head empty"
            "gloves chest-top emptya"
            "weapon-top chest-bottom second-top"
            "weapon-bottom legs second-bottom"
            "emptyh boots emptyz"
}

#hero-screen-item-stats {
    grid-area: item-stats;
}

#hero-screen-head {
    grid-area: head;
}

#hero-screen-chest {
    grid-area: 2 / chest-top / chest-bottom;
}

#hero-screen-gloves {
    grid-area: gloves;
}

#hero-screen-legs {
    grid-area: legs;
}

#hero-screen-boots {
    grid-area: boots;
}

#hero-screen-weapon {
    grid-area: 3 / weapon-top / weapon-bottom;
}

#hero-screen-second {
    grid-area: 3 / second-top / second-bottom;
}

.item-frame {
    background: url(../img/items/frame.png);
}

.item-frame-large {
    background: url(../img/items/frame-large.png);
}

.inv-item:hover .inv-item-tooltip {
    visibility: hidden;
}

.inv-item-tooltip {
    position: absolute;
    background: white;
    visibility: hidden;
}

#hero-equipment {
    grid-area: items;
}

#hero-equipment li {
    margin-bottom: 10px;
}

#hero-equipment li div:first-child {
    text-decoration: underline;
    height: 16px;
    line-height: 16px;
}

#hero-equipment li span {
    line-height: 16px;
}

/* ########## HERO/ FIGHT-SCREEN ########## */
#fighting-screen {
    background: plum;
    position: absolute;
    height: calc(100vh - 74px);
    padding: 5px;
    max-width: 100%;
    max-height: 100vh;
}

#potions-menu {
    background-color: greenyellow;
    position: fixed;
    right: 10%;
    height: 15%;
    width: 30%;
    border: 1px solid black;
}

.tile {
    background: grey;
    border: 1px solid black;
}

#fighting-options {
    width: 95%;
    height: 30%;
    border-top: 1px solid black;
    background: lightblue;
    z-index: 60;
    position: absolute;
    bottom: 0;
}

/* CLASSES */
.full-screen {
    padding: 15px;
    margin: auto;
}

.invisible {
    display: none !important;
}

.visible {
    display: block;
}

.top-bar {
    text-align: center;
    border-bottom: 1px solid black;
}

.top-right-bar{
    float: right;
    padding: 20px;
}

.top-left-bar {
    float: left;
    padding: 20px;
}

.bar-button {
    width: 100%;
    background-color: azure;
}

.potion-button {
    height: 100%;
    width: 33%;
    float: left;
    text-align: center;
    horiz-align: center;
}

.plain {
    height: 241px;
    width: 500px;
    margin: auto;
    background: url(../img/main/plainText.png) no-repeat center;
}

.plain p {
    padding: 15px;
}

.top-bar {
    text-align: center;
    border-bottom: 1px solid black;
}

.clicked {
    border: 1px solid yellow;
}

.item-size {
    width: 3%;
    height: auto;
}

.progress-bar {
    font-size: small;
    padding: 1px;
    width: 20vw;
    height: 3vh;
    text-align: center;
    color: white;
    z-index: 25;
    background: black;
}

.progress-bar-outer {
    background: grey;
    width: 100%;
    height: 100%;
}

.health-bar-inner {
    width: 50%;
    height: 100%;
    background: darkred;
}

.xp-bar-inner {
    width: 50%;
    height: 100%;
    background: darkgreen;
}

.picture {
    width: 15%;
    height: auto;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.monster {
    left: 80%;
}

.player {
    left: 20%;
}