html {
    font-family: 'Press Start 2P', cursive;
    height: 100vh;
    width: 100vw;
    background: url(../img/main/background.png);
}

body {
    margin: 0;
    padding: 0;
}

input {
    font-family: 'Press Start 2P', cursive;
    height: 30px;
    background: transparent;
    border-style: none;
}

ul {
    list-style: none;
    padding: 0;
}

h1 {
    width: 100%;
    font-size: 64px;
    text-align: center;
}

/* HOME IDs */
#title {
    content: url(../img/main/title.png);
}

#home {
    display: grid;
    height: 100%;
    grid-template-columns: auto;
    text-align: center;
    color: white;
}

#home ul input {
    width: 50vw;
    color: white;
}

#home li, #highscore li {
    height: 48px;
    vertical-align: middle;
    line-height: 42px;
    margin: 5px 0 5px 0;
    background: url(../img/main/button.png) no-repeat center;
}

/* GAME IDs */
#game {
    display: grid;
    height: 100%;
    grid-template-columns: 90% 10%;
    padding: 0;
}

#level {
    height: 100%;
    background-color: papayawhip;
}

#right-bar {
    height: 100%;
    background-color: cornflowerblue;
}

#health, #max-health {
    font-size: 12px;
}

#player-health {
    font-size: small;
    padding: 2px;
    width: 30%;
    height: 16px;
    text-align: center;
    color: white;
    z-index: 25;
    background: black;
}

#health-bar-outer {
    background: grey;
    width: 100%;
    height: 100%;
}

#health-bar-inner {
    width: 50%;
    height: 100%;
    background: darkred;
}

#hero-screen {
    width: 95%;
    height: 89%;
    border: 1px solid black;
    background-color: plum;
    padding: 5px;
    z-index: 50;
    margin: auto;
}

#hero-screen {
    margin: auto;
}

#hero-top-bar {
    text-align: center;
    border-bottom: 1px solid black;
}

/* CLASSES */
.full-screen {
    padding: 15px;
    margin: auto;
}

.invisible {
    display: none !important;
}

.visible {
    display: block;
}

.bar-button {
    width: 100%;
    height: 15%;
    background-color: azure;
}

.plain {
    height: 241px;
    width: 500px;
    margin: auto;
    background: url(../img/main/plainText.png) no-repeat center;
}

.plain p {
    padding: 15px;
}